@charset "UTF-8";

//-----------------------------------------------------	
// setting
//-----------------------------------------------------	
//是否兼容ie6-8
$lte6: 				true !default;
$lte7: 				true !default;
$lte8: 				true !default;

$css3Ie: 			true !default;
$css3Old: 			true !default;
//-----------------------------------------------------	
// 变量
//-----------------------------------------------------	
$c-a: 				#d38a8a #1b1b1b;  //连接字体颜色

// font字体相关
$fz: 				1em;    //字体大小
$lh:        		1.8;  // 行高line-height
// $lhPx: 				floor($fsBase * $lhBase);
$baseColor: 		#5a5a5a; //字体颜色
$linkColor: 		#0088cc #1b1b1b;  //连接字体颜色
$f-base: 			Avenir, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;  //主字体
// $f-base: 			"Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;  //主字体
$f-pre: 			"PT Mono", Menlo, "Courier New", "Microsoft YaHei", monospace;  //副主体，用在英语上



